@model MovieRental.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


@if (Model.Movie.Count() == 0)
{
    <p>There are no movies to display.</p>
}
else
{
<table style="width:50%">
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    @foreach (var movie in Model.Movie)
    {
        <tr>
            <td><a href="~/Movies/Details/@movie.Id">@movie.Name</a></td>
        <td>@movie.Genre</td>
            </tr>
    }

</table>
}

