@model MovieRental.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count() == 0)
{
    <p>There are no customers yet.</p>
}
else
{
    <table style="width:50%">
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>

        </tr>

        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td><a href="~/Customers/Edit/@customer.Id">@customer.Name</a></td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </table>



}
